
@{
    ViewData["Title"] = "HomePage";
}
<html>
<body>
    <h1 style="color:aqua"><b><i>BIKE SHOWROOM MANAGEMENT SYSTEM</i></b></h1>
    <table style="background-color:pink " height="60px" width="800px">
        <tr>
            <th>
                <a asp-action="Index"><h3>BIKES</h3> </a>
            </th>
            <th>
                <a asp-action="EmployeeDetails "><h3>EMPLOYEE</h3></a>
            </th>
            <th>
                <a asp-action="LogIn"><h3>LOG OUT</h3></a>
            </th>
        </tr>
    </table>
</body>
</html>

